[submodule "BladeEngine/vendor/GLFW"]
	path = BladeEngine/vendor/GLFW
	url = https://github.com/GigalightGuy/glfw.git
[submodule "BladeEngine/vendor/spdlog"]
	path = BladeEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "BladeEngine/vendor/glm"]
	path = BladeEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "BladeEngine/vendor/Box2D"]
	path = BladeEngine/vendor/Box2D
	url = https://github.com/GigalightGuy/box2d.git
